/* Reset */
* {
    box-sizing: border-box;
}
html, body {
    font-family: sans-serif;
    font-size: 16px;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}
body {
    background-attachment: fixed;
    background-image: url("/img/fundo01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
a {
    color: steelblue;
    text-decoration: none;
}
a:hover {
    color: orangered;
    text-decoration: underline;
}
h1, h2, h3, h4, h5, p {
    margin: 1rem 0;
}


.wrap {
    background: rgba(255,255,255,.9);
    margin: auto;
    max-width: 1024px;
    width: 100%;    
}

/* Cabecalho */
.header {
    align-items: center;
    background: darkgreen;
    color: rgb(219, 250, 219);
    display: flex;    
}
.header img {
    display: block;
    margin-right: 1rem;
}
.header h1 {
    margin: 0;
    text-align: center;
}
.header small {
    display: block;
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: .1rem;    
}

/* Menu principal */
.nav {
    background: black;
    display: flex;
    justify-content: flex-end;
    position: relative;
    text-align: right;    
}
.nav a {
    color: white;
    display: inline-block;
    padding: 1rem;
    text-decoration: none;    
}
.nav a:hover, .footer a:hover {
    background: orangered;
    color: #fff;
}
.nav > a:first-child {
    margin-right: auto;
}
#menu {
    display: none;
}
#procurar span {
    display: none;
}
#menulinks {
    display: block;
}

@media (max-width: 640px) {
    #menu {
        display: block;
    }
    #menulinks {
        background: #333;
        box-shadow: 5px 5px 5px 0px rgba(102,102,102,1);
        display: none;
        left: 0;
        min-width: 70%;
        position: absolute;
        text-align: left;
        top: 3.1rem;        
    }
    #menulinks a {
        display: block;
    }
    #procurar span {
        display: inline;
    }
}

/* Rodapé */
.footer {
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ddd;
    text-align: center;
}
.footer > a {
    color: #fff;
    padding: .8rem;
}
.footer > a:hover {
    background: orangered;
    text-decoration: none;
}
.footer > div {
    font-style: italic;
}
.footer > div span {
    font-size: .85rem;
}
.footer > div div {
    font-size: .75rem;
    margin-top: .3rem;
    font-style: normal;
}
.footer > div a {
    color: #ccc;
}

/* Conteudo */
.main {
    padding: 1rem;
}
.main h2:first-child {
    margin-top: .5rem;
}

/* Imagens responsivas */
.responsiva {
    max-width: 100%;
    width: auto;
}

/* Stick footer - Rodapé embaixo quando sem barra de rolagem */
.wrap {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.main {
    flex-grow: 1;
}